div.number-buttons {
  /* parent div element storing all number buttons */
  width: var(--board-size);
  margin: auto;
  padding: var(--padding-vertical) 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 0.25rem;

  /* each number button */
  & > button {
    padding: 0;
    border-style: solid;
    border-color: #777777;
    border-width: thin;
    border-radius: calc(var(--board-size) / 108);
    background-color: #ffffff;
    color: #777777;
    font-size: var(--large-font-size);
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    /* decoration */
    &[highlighted="true"] {
      background-color: var(--highlighted-color);
    }
    &:hover {
      background-color: #777777;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
